/* color themes */

@media (prefers-color-scheme: light) {
    :root {
        color-scheme: light;
    }
    
    body {
        background-color: #FFF;
        color: #000;
    }

    header img {
        content: url(assets/logo.png);
    }

    header {
        background-color: #e5e5e5;
        color: #000;
    }

    .badge {
        background-color: white;
        border: 2px solid #afafaf;
    }

    .version {
        color: #000;
    }

    .card {
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .card p {
        color: #666;
    }

    tr td {
        background-color: #f5f5f5;
    }
    
    #disclaimer {
        color: #666;
    }

    #disclaimer a {
        color: #666;
    }

    
    footer svg {
        color: #000;
    }

    footer svg:hover {
        color: #333;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
    
    body {
        background-color: #000;
        color: #FFF;
    }

    header img {
        content: url(assets/logo_black.png);
    }

    header {
        background-color: #1a1a1a;
        color: #FFF;
    }

    .badge {
        background-color: #505050;
        border: 2px solid #202020;
    }

    .version {
        color: #FFF;
    }

    .card {
        background-color: #151515;
    }

    .card:hover {
        box-shadow: 0 8px 36px rgba(0,0,255,0.5);
    }

    #card-hours:hover {
        box-shadow: none;
    }

    .card p {
        color: #999;
    }

    tr td {
        background-color: #252525;
    }

    #disclaimer {
        color: #999;
    }

    #disclaimer a {
        color: #999;
    }

    footer {
        background-color: #151515;
        color: #FFF;
    }
    
    footer svg {
        color: #fff;
    }

    footer svg:hover {
        color: #ccc;
    }
}

/* end color themes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 1;
}

header img {
    height: 48px;
    width: 48px;
    margin: 8px;
    border-radius: 50px;
    pointer-events: none;
}

header h1 {
    margin-left: 4px;
    font-weight: bold;
    user-select: none;
}

.badge {
    font-size: 10px;
    font-weight: 500;
    padding: 4px;
    border-radius: 8px;
    margin-left: 12px;
    cursor: pointer;
    text-transform: uppercase;
    user-select: none;
}

.version {
    font-size: 10px;
    font-weight: 300;
    margin-left: 8px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}

section {
    margin-bottom: 32px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 16px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.card {
    border-radius: 16px;
    cursor: pointer;
    padding: 16px;
    width: 32%;
    background-position: 0%;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.3s;
    transition-timing-function: ease;
}

#resources .card {
    width: 49%;
}

.card h3 {
    font-size: 18px;
    margin-bottom: 8px;
}

.card p {
    font-size: 14px;
}

.card:hover {
    transform: scale(1.03);
}

#card-discord:hover {
    background-image: url(assets/gif-1.gif);
}

#card-spotify:hover {
    background-image: url(assets/gif-2.gif);
}

#card-github:hover {
    background-image: url(assets/gif-3.webp);
}

#card-hours:hover {
    transform: none;
    cursor: default;
}

table {
    border-collapse: separate;
    border-spacing: 0 .5em;
    width: 100%;
}

tr {
    font-size: 16px;
}

tr td {
  padding: 10px 20px;
}

tr td:first-of-type {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

tr td:last-of-type {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

table td:first-child {
    font-weight: bold;
}

#disclaimer {
    font-size: 12px;
}

#disclaimer u {
    text-decoration: underline;
}

#disclaimer p {
    padding: 4px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;
    padding: 8px;
}

footer p {
    font-size: 14px;
    padding: 8px;
}

footer svg {
    margin-right: 4px;
    cursor: pointer;
    height: 16px;
    width: 16px;
    transition: 0.2s;
    transition-timing-function: ease;
}